@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #eef2f3, #8ec5fc);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-container {
  width: 700px;
  background: #ffffff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.top-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.btn {
  padding: 12px 24px;
  background-color: #2f63e8;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  border-radius: 8px;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #224bcf;
}

.logout-container {
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 10;
}

.logout-btn {
  background-color: #e84242;
}

.logout-btn:hover {
  background-color: #c93030;
}


.center-message h1 {
  font-size: 3.5rem;
  color: #000000ff;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.7;
  }
}
